In [2]:
import pandas as pd
from pathlib import Path

In [3]:
tabular_root = Path('Organized_Data')

In [3]:
# replacements = [
#     ('0-1', '000-100'),
#     ('1-2', '100-200'),
#     ('2-3', '200-300'),
#     ('3-4', '300-400')
# ]

In [7]:
y = []
X = []

for folder in tabular_root.iterdir():
    if not folder.is_dir():
        continue
    for sub_folder in folder.iterdir():
        if not sub_folder.is_dir():
            continue
        for file in sub_folder.iterdir():
            if file.suffix == '.xlsx':
                dfs = pd.read_excel(file, sheet_name=None)
                for k, df in dfs.items():
                    # for r in replacements:
                    #     if r[0] in k:
                    #         k = k.replace(*r)
                    #         break
                    if True: # Path(f'Images/{folder.parts[-1]}/{k}').is_dir():
                        df.dropna(subset=['Target'], inplace=True)
                        # df['Target'] = df['Target'].str.replace('_cropped', '')
                        for i, row in df.iterrows():
                            values = k.split('_')
                            X.append({
                                'SEN': values[0],
                                'waterflow': values[1],
                                'airflow': values[2],
                                'position': values[3],
                                'time': row.iloc[0],
                                'AN_1_LL[m/s]': row.iloc[9],
                                'AN_2_LQ[m/s]': row.iloc[10],
                                'AN_3_RQ[m/s]': row.iloc[11],
                                'AN_4_RR[m/s]': row.iloc[12],
                                'MM_LL[mm]': row.iloc[17],
                                'MM_LQ[mm]': row.iloc[18],
                                'MM_RQ[mm]': row.iloc[19],
                                'MM_RR[mm]': row.iloc[20],
                                'L_wave_ht[mm]': row.iloc[21],
                                'R_wave_ht[mm]': row.iloc[22]
                            })
                            
                            y.append({
                                'label': k,
                                'time': row.iloc[0],
                                'Count_EX1': row.iloc[24],
                                'Count_EX2': row.iloc[25],
                            })

In [8]:
X = pd.DataFrame(X)
X.head(10)

,SEN,waterflow,airflow,position,time,AN_1_LL[m/s],AN_2_LQ[m/s],AN_3_RQ[m/s],AN_4_RR[m/s],MM_LL[mm],MM_LQ[mm],MM_RQ[mm],MM_RR[mm],L_wave_ht[mm],R_wave_ht[mm]
0,SEN10,1.8,6,0-1,24.7,0.2880,0.2880,0.1888,0.1888,6.05,-3.95,-2.95,4.20,10.00,7.15
1,SEN10,1.8,6,0-1,24.8,0.2880,0.2880,0.1392,0.1888,4.85,-3.85,-1.70,1.50,8.70,3.20
2,SEN10,1.8,6,0-1,24.9,0.2880,0.2880,0.1888,0.1888,5.95,-4.50,-2.95,0.90,10.45,3.85
3,SEN10,1.8,6,0-1,25.0,0.2384,0.1888,0.1392,0.2384,4.00,-6.65,-3.20,1.90,10.65,5.10
4,SEN10,1.8,6,0-1,25.1,0.2880,0.1888,0.1392,0.2384,3.65,-5.90,-1.55,2.10,9.55,3.65
5,SEN10,1.8,6,0-1,25.2,0.1888,0.2384,0.0896,0.1888,2.95,-3.45,-0.70,2.90,6.40,3.60
6,SEN10,1.8,6,0-1,25.3,0.2384,0.2384,0.1392,0.2384,5.55,-2.50,-0.95,2.85,8.05,3.80
7,SEN10,1.8,6,0-1,25.4,0.1888,0.2880,0.1888,0.2880,5.50,-3.90,-1.20,3.35,9.40,4.55
8,SEN10,1.8,6,0-1,25.5,0.1392,0.2880,0.1888,0.2384,2.30,-2.45,-3.45,1.05,4.75,4.50
9,SEN10,1.8,6,0-1,25.6,0.1392,0.2880,0.2384,0.1888,7.20,-2.30,-0.35,1.00,9.50,1.35

In [9]:
y = pd.DataFrame(y)
y.head(10)

             label  time   Count_EX1   Count_EX2
0  SEN10_1.8_6_0-1  24.7  124.790939  147.148743
1  SEN10_1.8_6_0-1  24.8  125.585823  151.163986
2  SEN10_1.8_6_0-1  24.9   95.386139  135.293488
3  SEN10_1.8_6_0-1  25.0  106.527420  129.984131
4  SEN10_1.8_6_0-1  25.1  103.634834  116.206940
5  SEN10_1.8_6_0-1  25.2  120.110046  108.483559
6  SEN10_1.8_6_0-1  25.3   98.861618  124.834007
7  SEN10_1.8_6_0-1  25.4  103.018845  126.343323
8  SEN10_1.8_6_0-1  25.5  110.898758  110.091530
9  SEN10_1.8_6_0-1  25.6  108.546127  125.085022

In [10]:
X.to_csv('X.csv', index=False)
y.to_csv('y.csv', index=False)